:root {
    --main-color: #999999;
    --dark-color: #323232;
    --light-color: #FFFFFF;
    --accent-color: #4985FF;
    --accent-dark-color: #5F12D0;
    --main-light-color: #F6F6F8;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    line-height: 1.6;
}

img {
    display: block;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    padding: 0px;
    border: none;
    -webkit-appearance: none;
    background: transparent;
}

h1 {
    font-size: 48px;
    line-height: 1.3;
    color: var(--light-color);
    font-weight: 800;
}

h2 {
    font-size: 36px;
    line-height: 1.47;
    color: var(--dark-color);
}

.h3-title {
    font-size: 18px;
    line-height: 1.22;
    color: var(--dark-color);
    font-weight: 600;
}

.button {
    color: var(--light-color);
    background-color: var(--accent-color);
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 13px 36px 15px;
    display: block;
    max-width: 200px;
    transition: background 0.3s ease;

    /*padding: 10px 10px;*/
    /*width: 200px;*/
    /*min-height: 45px;*/
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.button:hover {
    background: var(--accent-dark-color);
}

.small-text {
    font-size: 14px;
    /*line-height: 1.57;*/
}

.small-radius {
    border-radius: 10px;
}


.container {
    width: calc(1113px + 8px * 2);
    padding: 0px 8px;
    margin: auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    /* background: var(--main-color); */
    border-bottom: 1px solid var(--main-color);

    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: var(--main-color);*/
}

.footer {
    padding-top: 70px;
    background: var(--main-light-color);
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-col {
    flex-basis: calc((100% - 3 * 40px ) / 4);
}

.footer-col .h3-title {
    margin-bottom: 35px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-copy {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    border-top: 1px solid var(--main-color);
    margin-top: 70px;
}

.section {
    padding-top: 100px;
    padding-bottom: 70px;
}

.menu-list {
    display: flex;
    justify-content: flex-end;
}

.menu-item {
    position: relative;
}

.menu-item a {
    color: var(--light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    padding: 40px 20px;
    display: block;
    text-decoration: none;
    transition: 0.3s ease all;
}

.menu-item:hover a:after,
.current a::after {
    height: 1px;
    transform: scale(1);
}

.menu-item a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    transform: scale(0);
    bottom: -1px;
    left: 0px;
    display: block;
    background-color: var(--light-color);
    transition: 0.3s ease transform;
}

/* .menu-item a:hover {
    color: var(--dark-color);
} */

.main-section {
    background-color: gray;
    padding-top: 320px;
    padding-bottom: 335px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.main-section .text-center {
    margin-bottom: 20px;
}

.we-do {
    padding-top: 110px;
    padding-bottom: 105px;
}

.we-do-title {
    margin-bottom: 32px;
}

.we-do-head {
    max-width: 730px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.we-do-list {
    display: flex;
    margin-bottom: 55px;
    gap: 30px;
}

.we-do-list .h3-title {
    margin-bottom: 12px;
}

.we-do-text p {
    text-align: center;
}

.we-do-item {
    display: flex;
    max-width: 353px;
}

.we-do-icon {
    --size: 90px;
    margin-right: calc(18px + 10px);
    max-width: var(--size);
    min-width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 0px 11px var(--main-light-color);
    outline: 10px solid var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.we-do-icon .icon {
    color: var(--accent-color);
    font-size: 40px;
    width: auto;
}

.we-do-right {
    padding-top: 45px;
}

.content p:not(:last-child) {
    margin-bottom: 15px;
}

.button-center {
    margin: auto;
}

.dev-head {
    padding-bottom: 90px;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dev-left {
    max-width: 489px;
}

.dev-left h2 {
    margin-bottom: 60px;
}

.dev-text {
    margin-bottom: 42px;
}

.text-center {
    text-align: center;
}

.h1-title {
    text-align: center;
    margin-bottom: 50px;
}

.silver-wrapper {
    background-color: var(--main-light-color);
}

.base-link {
    position: relative;
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    text-decoration: none;
}

.base-link::after {
    content: '';
    width: 0px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: -2px;
    left: 0px;
    transition: 0.3s ease width;
}

.base-link:hover::after {
    width: 100%;
}

.dev-image {
    border-radius: 30px;
}

.list-project {
    display: flex;
    justify-content: space-evenly;
}

.list-project-top {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
}

.list-project-top .icon {
    font-size: 30px;
    height: auto;
    color: var(--accent-color);
    margin-right: 20px;
}

.list-project-title {
    color: var(--dark-color);
    font-size: 36px;
    line-height: 1.47;
}

.wrapper-accent {
    position: relative;
    /*background-image: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);*/
    /*background-size: 100% 490px;*/
}

.wrapper-accent:before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    display: block;
    height: 490px;
    width: 100%;
    top: 0;
    left: 0px;
}

.wrapper-accent .container {
    position: relative;
}

.wrapper-accent h2 {
    color: var(--light-color);
}

.our-works {
    padding-bottom: 85px;
}

.our-works-top {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    justify-content: space-between;
}

.our-works-top .button {
    position: relative;
}

.our-works-top .button:hover::after {
    width: calc(100% - 72px);
}

.our-works-top .button:after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 10px;
    left: 36px;
    height: 1px;
    width: 0px;
    background-color: var(--light-color);
    transition: 0.3s ease width;
}

.our-works-title {
    max-width: 540px;
}

/*@supports (display: grid) {*/
/*    .our-works-list {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        gap: 30px;*/
/*    }*/
/*}*/

/*@supports not (display: grid) {*/
/*    .our-works-list {*/
/*        display: flex;*/
/*    }*/
/*    .our-works-card {*/
/*        max-width: 350px;*/
/*    }*/
/*    .our-works-card:not(:last-child) {*/
/*        max-width: 350px;*/
/*        margin-right: 30px;*/
/*    }*/
/*}*/

    .our-works-list {
        /*display: grid;*/
        /*grid-template-columns: repeat(4, 1fr);*/
        /*!*grid-template-rows: repeat(2, 1fr);*!*/

        display: flex;
        /*gap: 30px;*/
    }



.our-works-list {
    padding-bottom: 85px;
    border-bottom: 1px solid var(--main-color);
    justify-content: space-between;
}

/* 100% - відступ * кількість відступів / кількість елементів */

.our-works-card {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.our-works-card img {
    width: 100%;
    height: auto;
}

/*.our-works-card {*/
/*    max-width: 350px;*/
/*}*/

.our-works-card-bottom {
    margin-top: 30px;
}

.our-works-sub-title {
    margin-bottom: 30px;
}

.our-works-sub-title span {
    color: var(--accent-color);
}

.our-works-text {
    margin-bottom: 47px;
}

.portfolio-head {
    text-align: center;
    max-width: 730px;
    margin: auto;
    margin-bottom: 70px;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio-head h2 {
    margin-bottom: 30px;
}

.video {
    padding-top: 70px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.video:after {
    content: '';
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/background-video.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.video .container {
    position: relative;
    z-index: 2;
    padding-bottom: 85px;
    border-bottom: 1px solid var(--main-light-color);
}

.video-top {
    max-width: 640px;
    margin: auto;
    margin-bottom: 70px;
}

.video-top h2 {
    margin-bottom: 30px;
    color: var(--light-color);
}

.video-top p {
    color: var(--light-color);
}

.video video {
    display: block;
    margin: auto;
}

.section-form {
    padding: 85px 0px;
}

.form {
    max-width: 489px;
    margin: auto;
}

.form-top {
    text-align: center;
    margin-bottom: 20px;
}

.form-top .h3-title {
    margin-bottom: 15px;
}

.form-row {
    --border-radius: 30px;
    display: flex;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    overflow: hidden;
    margin-bottom: 35px;
}

.button-form {
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0;
}



.form-input {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    flex-grow: 1;
    padding: 13px 30px;
    border: 1px solid var(--main-light-color);
    border-right: 0px;
    transition: 0.3s ease border;
}

.form-input:focus, 
.form-input:focus-visible {
    outline: none;
    border: 1px solid var(--accent-color);
    border-right: none;
}

.form-input::placeholder {
    color: var(--dark-color);
}

.form-icon .icon {
    font-size: 13px;
    height: auto;
    fill: var(--light-color);
}

.form-privacy {
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
}

.form-privacy a {
    color: var(--accent-color);
    position: relative;
    text-decoration: none;
}

.form-privacy input:checked + .form-icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.form-privacy a:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: 0.3s ease width;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.form-privacy a:hover::after {
    width: 0px;
}

.form-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 1px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
    left: 0px;
}
.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.space {
    --planete-size: 150px;
    --planate-margin: 10px;
    width: 1200px;
    height: 600px;
    background-color: orange;
    margin: auto;
    background-image: url("../images/sun.png"), url("../images/venera.png"), url("../images/multi.png"), url("../images/desert.png"), url("../images/ocean.png"), url("../images/space.webp");
    background-repeat: no-repeat;
    background-size: 700px, var(--planete-size), var(--planete-size) , var(--planete-size) , var(--planete-size), cover;
    background-position: -70% center, center right calc((var(--planete-size) * 3) +  var(--planate-margin) * 4), center right calc((var(--planete-size) * 2) + var(--planate-margin) * 3), center right calc(var(--planete-size) + var(--planate-margin) * 2), center right var(--planate-margin), center;
}

.planet {
    --planete-size: 150px;
    width: var(--planete-size);
    height: var(--planete-size);
    top: 50%;
    right: 0px;
    margin-top: calc(0 - (var(--planete-size) / 2));
    position: absolute;
    background-size: contain;
    z-index: 1;
}

.space-v2 {
    width: 1200px;
    height: 600px;
    background-image: url("../images/space.webp");
    position: relative;
}

.venera {
    background-image: url("../images/venera.png");
}

.earth {
    background-image: url("../images/desert.png");
    right: calc( var(--planete-size) + 20px);

    animation-name: scale;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}